body {
            background: rgb(12, 12, 12);
            color: white;
            font-family: Serif;
            border: 8px solid black;
        }


body {border: 11px solid black;}
	body {background:brown}
	<style>body {color:white};
	body {color: white}


