body {
            background: rgb(12, 12, 12);
            color: white;
            font-family: Serif;
            border: 8px solid black;
        }


body {border: 11px solid black;}
	body {background:brown}
	body {color:white};
	body {color: white}


    body {
            background: rgb(124,12,12);
            color: white;
            font-family: Serif;
            border: 8px solid black;
        }


body {
            background: rgb(22,23,23);
            color: white;
            font-family: Serif;
        }
